@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Glegoo:wght@400;700&display=swap');

@keyframes drop-animation {
	0% {
		opacity: 0;
		transform: translateY(-30px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

:root {
    --bg-color: #312D2D;
    --primary: #CEBBBB;
    --secondary: #FFFFFF;
    --accent: #A47162;
    --text-color: #D9CFCF;

    --font-text: 'Exo 2', sans-serif;
    --font-heading: 'Glegoo', serif;

    --h1-size: clamp(0.42rem, 5vw, 0.70rem);
    --h2-size: clamp(0.312rem, 3.715vw, 0.52rem);
    --h3-size: clamp(0.168rem, 2vw, 0.28rem);
    --logo-size: clamp(0.192rem, 2.285vw, 0.32rem);
    --p-size: clamp(0.12rem, 1.43vw, 0.20rem);


    --line-height-heading: 70px;

    --h3-weight: 300;
    --p-weight: 200;
    --logo-weight: 600;
   
}

/* #hero-section {
    outline: 1px solid red;
  } */

/* General CSS Section */

html, body {
    font-size: 100px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color)
}

body {
    width: min(100%, 1440px);
    margin-inline: auto; 
    padding-inline: clamp(0.5rem, 5vw, 3rem);
    font-family: var(--font-text);
    color: var(--primary);
}

h1, h2, h4, h5, h6 {
    color: var(----primary);
    font-family: var(--font-heading);
}

h1 {
    font-size: var(--h1-size);
    line-height: var(--line-height-heading);
}

h2 {
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
    font-weight: var(--h3-weight);
    line-height: var(--line-height-heading);
}

span
{
    color: var(--secondary);
}

p {
    font-size: var(--p-size);
    font-weight: var(--p-weight);
}

a {
    text-decoration: none;
    font-size: var(--p-size);
    color: var(--secondary);
    font-family: var(--font-heading);
    
    transition: all 0.3s ease 0s;
}

a:hover {
    color: var(--primary);
}

.test { 
    display: flex;
    flex-direction: column;
    border: 8px solid black;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-evenly;
    min-height: 800px;
    /* for testing layouts */
}

/* Navigation Bar Section */

nav {
    display: flex;
    align-items: center;       
    justify-content: space-between;
    position: relative;   
    margin-top: 0.5rem;     
    height: 60px;     
    z-index: 1;        
}

ul {
    flex-direction: column;
}

nav > div:first-child {
    display: flex;
    gap: 32px;

}

nav > div:first-child > a {
    margin: 0;
    padding: 0;
    display: inline;
}

.nav-block-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

img.divider {
    user-select: none;
    pointer-events: none;
}

svg * {
    user-select: none;
    pointer-events: none;
}

.container {
    display: grid;
    padding: min(5em, 8%);
    margin: 0 auto;
    width: 400px;
    background-color: var(--accent);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}