{% extends "base.html" %}
{% load static %}
{% block title %}Marcus Esteban{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'home/styles/home.css' %}">
{% endblock %}
{% block content %}
<section class="hero-section">
    <div class="hero-picture">
        <img id="hero-profile" src="{% static 'images/hero-picture.svg' %}" alt="My picture!">
    </div>
    <div class="hero-text">
        <div id="text-block">
            <h3 class="alt-color" id="change-text">System.out.println<span>("Hello, World. I am");</span></h3>
        </div>
        <h1 id="name"><span>Marcus Jet<wbr> Esteban</span></h1>
        <img class="divider" src="{% static 'images/divider.svg' %}">
        <p>A Filipino programmer currently taking Computer Science 
            at Ateneo de Manila University. </p>
        <a href="{% url 'home:test' %}" class="button">Let's collaborate</a>
    </div>
</section>
<section class="value-proposition-section">
    <div class="value-proposition animate">
        <img class="divider" src="{% static 'images/divider.svg' %}">
        <h2 class="heading">Building solutions through leadership</h2>
        <p>From a strong project management and programming background, 
            I am a dedicated student leader capable of handling technical 
            and operational processes in diverse working environments. 
        </p>
        <a href="{% url 'home:about_me' %}" class="button">Get to know me</a>
    </div>
    <div class="logo-carousel-group">
        <div class="company-logos">
            <img class="gdsc-logo" src="{% static 'images/logos/gdsc-logo.svg' %}">
            

        </div>
        <!-- contains two logo carousels, one for my coding languages and  -->
        <!-- the other for my organizations I worked for -->
    </div>
</section>
<section class="projects-section">
    <img class="divider" src="{% static 'images/divider.svg' %}">
    <h2 class="heading">Projects</h2>
</section>
{% endblock %}