{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>Main Title:</h1>
<h2>Subtitle</h2>
<div class="test">
    <div>
        <ul>
            <li>list item</li>
            <li>list item</li>
            <li>list item</li>
            <li>list item</li>
        </ul>
    </div>
    <p>Welcome to [Your Project or Website Name], where we strive to 
        [brief value proposition or mission]. Whether you're here to 
        [common user goal 1] or [goal 2], we are committed to providing 
        you with [what makes you unique  e.g., high-quality resources, 
        expert insights, a welcoming community]. Take your time exploring,
        and do not hesitate to [CTA e.g., reach out, get started, subscribe]
        to make the most of what we offer.
    </p>
</div>

{% endblock %}