{% extends "base.html" %}
{% load static %}
{% block title%}Test{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'home/styles/home.css' %}">
{% endblock %}
{% block content %}
<section class="testing-section">
<h1 class="title-test">Javascript Crash Course</h1>

<div class="container-test">
    <h5 class="item-test">item 1</h5>
    <h5 class="item-test">item 2</h5>
    <h5 class="item-test">item 3</h5>
    <h5 class="item-test">item 4</h5>
</div>
<div class="butones-container">
    <a class="main-button">click me</a>
</div>
</section>
{% endblock %}

{% block nav%}
<a>hahahahah</a>
{% endblock%}

{% block scripts %}
<script src="{% static 'home/scripts/test.js' %}"></script>
{% endblock %}