#hero-section {
    display: grid;
    position: relative;
    grid-template-columns: 60% 40%;
    margin-top: 103px;
    animation: drop-animation 2s ease 0s 1 normal forwards;
}

.hero-designs {
    position: absolute;
    top: -60%;
    left: 0%;
    width: 100vw;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
}

#hero-ellipse {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background: transparent;
}

#hero-rectangle {
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0%;
    background: transparent;
}

#hero-element-1 {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 10%;
}
.hero-text {
    position: relative;
    z-index: 0;
    padding-top: 113px;
    background: transparent;
}

.hero-picture {
    position: relative;
    z-index: 0;
    padding-left: 20px;
    top: 0%;
    background: transparent;
    user-select: none;
    pointer-events: none;
}

.path-text {
    margin-top: -47px;
}

#desc-section {
   text-align: center;
   margin: 0 16vw;
}