{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'styles/base.css' %}">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <div>
                    <a href="{% url 'home:index' %}">home</a>
                    <a href="{% url 'home:test' %}">test</a>
                </div>

                <h3 id="centered-logo">LOGO NAME</h3>
                
                <div class="nav-block-content">
                    {% block nav %}
                    {% endblock %}
                </div>
            </nav>

        </header>
        
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <!-- Footer stuff goes here -->
        </footer>
        <!-- <script></script>
        {% block scripts %}
        {% endblock %} -->
    </body>
</html>
