{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'styles/base.css' %}">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-buttons">
                    <a href="{% url 'home:index' %}">Home</a>
                    <a href="{% url 'home:about_me' %}">About</a>
                    <a href="{% url 'home:test' %}">Work</a>
                    <a href="{% url 'home:test' %}">Contact</a>
                </div>       
                <div class="nav-block-content">
                    {% block nav %}
                    {% endblock %}
                    <h2>m<span>je</span>.</h2>
                </div>
            </nav>
        </header>
        <main>
            <div class="hero-designs">
                <div id="stars"></div>
            </div>
            <div class="scroll-progress-bar"></div>
            {% block content %}
            {% endblock %}
            <div class="cursors">
                <div></div>
            </div>
        </main>
        <footer>
            <!-- Footer stuff goes here -->
        </footer>
        <script src="{% static 'scripts/base.js' %}"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
